@import '_reset.scss';
.container {
    position: relative;
    min-width: 1140px;
    margin: 0 auto;
}

//顶部
nav{
    background: #f7f9fa;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #eeeeee;
    
    .nav-left{
        li{
            &:nth-of-type(1){
                padding: 0;
            }
            float: left;
            padding: 0 16px;
            a {
                color: #1d1d1d;
                font-size: 12px;
                display: block;
                &:hover{
                    color: #428bca;
                }
            }
        }
    }
    .nav-right{
        width: 370px;
        float: right;
        height: 40px;
        li{
            float: left;
            overflow: hidden;
            margin-left: 15px;
            height: 40px;
            a {
                color: #1d1d1d;
                font-size: 12px;
                display: block;
                &:hover{
                    color: #428bca;
                }
            }
        }
    }
}
// 头部导航
.nav-menu{
    width: 100%;
    background: #fff;
    clear: both;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #e0e0e0;
    .nav-logo {
        width: 140px;
        float: left;
        a {
            display: block;
            font-size: 0;
            width: 120px;
            overflow: hidden;
            position: relative;
            height: 80px;
            img {
                left: 0;
                display: inline-block;
                position: absolute;
                margin-top: 20px;
                width: 120px;
                height: 40px;
                transition: left 0.2s;
                &:nth-of-type(2) {
                    left: -120px;
                }
            }
        }
    }
    ul{
        display: inline-block;
        margin-left: 30px;
        height: 80px;
        li {
            line-height: 80px;
            height: 80px;
            float: left;
            a {
                display: inline-block;
                padding: 0px 18px;
                color: #585858;
                font-size: 16px;
            }
            .arrow_down {
                width: 8px;
                height: 6px;
                display: inline-block;
                margin-left: 10px;
                background: url(https://file02.xgimi.com/official/images/index/arrow_down.png);
                position: relative;
                top: -3px;
            }
        }
    }
}
// 导航内容
.nav-menu-main{
    // display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    background: #E6E7EF;
    z-index: 99999;
    box-shadow: 0 0 3px #BBB;
}
.nav-main{
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    background: #fff;
    z-index: 99999;
    box-shadow: 0 0 3px #BBB;
    // 左边
    .nav-left{
        float: left;
        i{
            width: 6px;
            height: 8px;
            display: inline-block;
            margin-left: 30px;
            background: url(../img/arrow_right_header.png);
            position: relative;
            top: -1px;
        }
        li{
            font-size: 16px;
            margin: 30px 0;
            cursor: pointer;
            a{
                color: #333;
                &:hover{
                    color: #428bca;
                }
            }
            &:hover i{
                background: url(../img/arrow_right_active.png);
            }
        }
    }
    // 右边
    .nav-right{
        float: left;
        width: 868px;
        padding-left: 60px;
        .nav-box{
            display: none;
        }
        li {
            padding: 15px;
            text-align: center;
            float: left;
        }
        .nav-img{
            width: 120px;
            height: 120px;
            line-height: 120px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        p{
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333333;
            font-size: 12px;
        }
    }
}