@import '_reset.scss';

body,html{
    background: #f4f4f4;
}
a:hover{
    color: #70bdff;
}

//头部样式
header{
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 9px 0;
    width: 100%;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    .menu {
        margin: 0 auto;
        width: 840px;
        div:last-of-type{
            float: right;
            a{
                font-size:14px; color:#777
            }
        }
    }
    .logo {
        float: left;
        margin-top: 10px;
        margin-right: 30px;
    }
    .nav li{
        float: left;
        a {
            display: inline-block;
            padding: 0 15px;
            height: 40px;
            color: #666;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            &:hover{
                color: #70bdff;
            }
        }
    }
}
//主体内容
main{
    position: relative;
    top: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    .content {
        margin: 0 auto;
        padding: 10px 0 50px;
        width: 840px;
        min-height: 450px;
        background: #fff;
        .content_head{
            margin: 0 20px;
            padding: 10px 0;
            border-bottom: 1px solid #f4f4f4;
            .content_title {
                font-size: 24px;
            }
            .content_description {
                color: #999;
                font-size: 13px;
                a {
                    display: inline-block;
                    padding: 0 2px;
                    color: #70bdff;
                    text-decoration: underline;
                }
            }
        }
        form{
            display: block;
            margin: 0 auto;
            padding-top: 5px;
            width: 344px;
            div{
                position: relative;
            }
            p{
                display: inline-block;
                margin: 0 auto;
                margin-top: 10px;
                padding: 0 10px;
                width: 340px;
                height: 44px;
                border: 1px solid #d5d5d5;
                background: #fff;
                color: #333;
                font-size: 12px;
                line-height: 44px;
                label{
                    float: left;
                }
                input{
                    padding-top: 2px;
                    float: left;
                    width: 250px;
                    height: 100%;
                    padding-left: 5px;
                }
            }
            span{
                margin-left: 10px;
                top: 20px;
                display: block;
                color: #ccc;
            }
            button{
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                width: 340px;
                height: 44px;
                background: #43a3f4;
                color: #fff;
                border: 0;
            }
            div:last-of-type{
                text-align:left; 
                margin-top:10px;
                a{
                    color:#70BDFF; text-decoration: underline;
                }
            }
            #code{
                float: left;
                margin-bottom: 10px;
                position: relative;
                width: 100%;
                section{
                    width: 200px;
                }
                input{
                    display: inline-block;
                    text-align: left;
                    margin-top: 10px;
                    padding: 0 10px;
                    width: 200px;
                    height: 44px;
                    border: 1px solid #d5d5d5;
                    background: #fff;
                    color: #333;
                    font-size: 12px;
                    line-height: 44px;
                }
                span{
                    right: -90px;
                }
                img{
                    display: inline-block;
                    top: 10px;
                    color: white;
                    line-height: 44px;
                    font-size: 20px;
                    margin-left: 10px;
                    position: absolute;
                    cursor: pointer;
                    user-select:none;
                }
            }
        }
    }
}
//页脚
footer{
    padding: 40px 0 20px;
    width: 100%;
    text-align: center;
}